<section class="splitMain" ng-controller="CategoriesController as categoriesSection">

    <div id="logo">
        <title-section></title-section>
        <h2 class="text-center">It's all about creation</h2>
        <facebook-button></facebook-button>
        <div id="create">
            <a class="submitBtn" ng-href="/#/create"> Create Your
                Own Story </a>
        </div>

    </div>
    <div class="secondMain">
        <table id="categories">
            <tr>
                <td class=categoryClass
                    ng-repeat="category in categoriesSection.categoriesResult.data.categories | limitTo: 3">

                    <a ng-href="/#/categories/{{category.name}}">
                        <p align="center" class=categoryName> {{category.name}} </p>

                        <div class="grow pic">
                            <img class=categoryImg ng-src={{category.image}}>
                        </div>
                    </a>
                </td>

            </tr>
            <tr>
                <td class=categoryClass
                    ng-repeat="category in categoriesSection.categoriesResult.data.categories | limitTo: 3 : 3  ">

                    <a ng-href="/#/categories/{{category.name}}">
                        <p align="center" class=categoryName> {{category.name}} </p>

                        <div class="grow pic">
                            <img class=categoryImg ng-src={{category.image}}>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td class=categoryClass
                    ng-repeat="category in categoriesSection.categoriesResult.data.categories | limitTo: -3">

                    <a ng-href="/#/categories/{{category.name}}">
                        <p align="center" class=categoryName> {{category.name}} </p>

                        <div class="grow pic">
                            <img class=categoryImg ng-src={{category.image}}>
                        </div>
                    </a>
                </td>

            </tr>
        </table>
    </div>
</section>