<div class="main" ng-controller="StoryViewerCtrl as storyViewer" ng-init="showLogo=false">
    <div>
        <div class="paragraphViewer">
            <h1>{{storyInfo.data.story.title}}</h1>

            <h3>{{storyInfo.data.title}}</h3>


            <h5>{{storyInfo.data.text}}</h5>

            <h6> By: {{storyInfo.data.author}}</h6>

        </div>

        <div ng-if="!storyInfo.data.children">
            no comments
        </div>


        <div ng-if="storyInfo.data.children">
            <div ng-repeat="paragraph in storyInfo.data.children" ng-if="$index <= amountOfParagraphsToShow">

                <display-element title="{{paragraph.title}}"
                                 link-to-url="/#/stories/{{storyInfo.data.story.id}}/{{paragraph.id}}"
                                 change-text="By: {{paragraph.author}}"
                                 img-src="/resources/coolBlackBG.jpg"
                                 optional-title="{{paragraph.text | limitTo:20}}"></display-element>
            </div>
            <div>
                <create-button text="Create Your Own Story" link-to-url="/#/continue/"></create-button>

            </div>
        </div>

    </div>
</div>