<div class="main" ng-controller="StoryViewerCtrl as storyViewer" ng-init="showLogo=false">
    <div>
        <div class="goHome">
            <a class="submitBtn" ng-href="/#/"> Home </a>
        </div>
        <br>

        <div class="paragraphViewer">

            <h1 id="storyTitle"> {{storyInfo.data.story.title | capitalize}}</h1>

            <h3 id="paragraphTitle"> {{storyInfo.data.title}}</h3>
            <div>
                <img ng-src="http://graph.facebook.com/{{authorId}}/picture">
                <h6 id="Author" style="display: inline; margin-left: 20px;"> By: {{storyInfo.data.name}} </h6>

            </div>

            <h5 id="bodyText" style="margin-top: 50px">{{storyInfo.data.text}}</h5>


        </div>

        <div style="margin-top: 50px" ng-if="!storyInfo.data.children">
            <div>
                <continue-button button-title="No Continues,  BE THE FIRST ONE"
                                 paragraph-id="{{storyInfo.data.id}}"
                                 story-id="{{storyInfo.data.story.id}}"></continue-button>
            </div>
        </div>


        <div style="margin-top: 50px" ng-if="storyInfo.data.children">

            <div ng-repeat="paragraph in storyInfo.data.children">

                <display-element title="{{paragraph.title}}"
                                 link-to-url="/#/stories/{{storyInfo.data.story.id}}/{{paragraph.id}}"
                                 change-text="By: {{paragraph.author}}"
                                 img-src="/resources/coolBlackBG.jpg"
                                 optional-title="{{paragraph.text | limitTo:20}}"></display-element>
            </div>

            <div class="createInCategory">
                <continue-button button-title="Continue this story in your own WAY"
                                 paragraph-id="{{storyInfo.data.id}}"
                                 story-id="{{storyInfo.data.story.id}}"></continue-button>
            </div>
        </div>

    </div>
</div>