
body {
    background-color: #F6F7EB;
    background-attachment: inherit;
}

.categoryClass {
    float: left;
    display: inline;
    position: relative;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-up: 5px;
}

.categoryClass a{
    text-decoration: none;
}

.categoryName {

    font-family: Georgia, serif;
    font-size: larger;
    color: #f6f6f6;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 0;
}

/*GROW*/
.grow img {
    width: 160px;
    height: 160px;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.grow img:hover {
    width: 220px;
}

