#create{
    z-index: 9;
    bottom: -20px;
    left: 40%;
    position: absolute;
    float: right;


}

#categories{
    position: absolute;
    top: 40px;
    right: 30px;
    float: right;
}
.categoryClass {
    float: right;

    display: inline;
    position: relative;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.categoryClass a {
    text-decoration: none;
}

.categoryName {
    color:#FFFFFF;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;

    font-family: Georgia, serif;
    font-size: larger;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 0;
}

/*GROW*/
.grow img {
    width: 160px;
    height: 160px;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.grow img:hover {
    width: 220px;
}

