
.cd-stretchy-nav {
    position: fixed;
    z-index: 2;
    top: 40px;
    right: 5%;
}
.cd-stretchy-nav .stretchy-nav-bg {
    /* this is the stretching navigation background */
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #9acd91;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    transition: height 0.2s, box-shadow 0.2s;
}
.cd-stretchy-nav.nav-is-visible .stretchy-nav-bg {
    height: 100%;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}
.cd-stretchy-nav ul {
    position: relative;
    z-index: 2;
    visibility: hidden;
    transition: visibility 0.3s;
}
.cd-stretchy-nav ul a {
    position: relative;
}
.cd-stretchy-nav ul a::after {
    /* navigation item icons */
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    transform: translateY(-50%) scale(0);
    opacity: .6;
    background: url(../img/cd-sprite-1.svg) no-repeat 0 0;
}
.cd-stretchy-nav ul span {
    /* navigation item labels */
    display: block;
    opacity: 0;
    transform: translateX(-25px);
}

.cd-stretchy-nav.nav-is-visible ul {
    visibility: visible;
}
.cd-stretchy-nav.nav-is-visible ul a::after {
    /* navigation item icons */
    transform: translateY(-50%) scale(1);
    animation: scaleIn 0.15s backwards;
}
.cd-stretchy-nav.nav-is-visible ul span {
    opacity: 1;
    transform: translateX(0);
    animation: slideIn 0.15s backwards;
}

.cd-stretchy-nav.nav-is-visible ul li:first-of-type a::after,
.cd-stretchy-nav.nav-is-visible ul li:first-of-type span {
    animation-delay: 0.05s;
}
/* animation delay for other children here ...*/

@keyframes scaleIn {
    from {
        transform: translateY(-50%) scale(0);
    }
    to {
        transform: translateY(-50%) scale(1);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-25px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}