<div ng-controller="continueStoryFormCtrl">

    <form id="storyForm" ng-submit="sendPost()">

       <h2 id="paragraphInputf"> Continue </h2>

        <input id="paragraphInput" required class="titleInput" ng-model="formData.formTitle" type="text"
               placeholder="Your Chapter Title Goes Here" >

        <textarea id="bodyForm" form="storyForm" ng-model="formData.formText" required
                  placeholder="Write Your Story.."></textarea>

        <input class="submitBtn" type="submit" value="Set it free">

        <button class="submitBtn" ng-click="go()" style="background: red; color: black"> Cancel
        </button>

    </form>

    <p>Message from servlet: {{message}} </p>

</div>