<div ng-controller="createStoryFormCtrl">

    <form id="storyForm" ng-submit="sendPost()">

        <input id="sInput" class="titleInput" ng-model="formData.formStoryTitle" type="text"
               placeholder="Your Story Title Goes Here.."
               required>


        <div class="categoryDropDown" ng-controller="CategoriesController as categoriesSection">
            <h4> Choose category </h4>
            <select ng-model="formData.formCategory" required="required"
                    ng-init="formData.formCategory = categoriesSection.categoriesResult.data.categories[1].name">
                <option ng-repeat="category in categoriesSection.categoriesResult.data.categories">{{category.name}}</option>
            </select>
        </div>

        <input required id="pInput" class="titleInput" ng-model="formData.formTitle" type="text"
               placeholder="Your Chapter Title Goes Here..">

        <textarea form="storyForm" ng-model="formData.formText" required placeholder="Write Your Story.."></textarea>

        <input class="submitBtn" type="submit" value="Set it free">

    </form>

    <p>Message from servlet: {{message}} </p>

</div>